header{
    background:black;
    color:white;
    
    padding:100px;
    background-image: url('images/pawan-kalyan.jpeg');
    background-repeat: no-repeat;
    background-position: center;
    background-size:100%;
    
    
}
header a{
color: white;
 text-decoration: none;
text-transform: uppercase;
margin: 0px;     
}
  
h1{
    margin:0;
    padding:10px;
}
h4{
    margin:0;
    padding:0;

}
    

.features{

    background: white;
    padding: 20px;
    display: flex;
    flex-direction: row;
}

ul{
    margin: 0px;
    padding:0;
    list-style-type:none;
   

    
}
li{
    display:inline-block;
    margin:right 20px ;
    padding:100px 100px 0px 00px;
    text-emphasis-position: top;
}
 
.features figure{
   margin:auto;
   
   text-align: right;
   text-transform: uppercase;
   width:200px;
   

}
.features figure img{
    border-radius: 280%;
    box-shadow: black 10px 5px 5px;
    width:300px;
    


}

    
}
section{
    background-color:black;
    flex-direction: row;
    margin:0;
    padding:0 0 0 0px;
   
    
}
footer{
    background-color: black;
    padding:0px;
    height: 30px;
    width: auto;
    color: gray;
    
}
h4{
    padding:5px;
    margin:50px;
}